<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard - Poultry Care System</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="flex h-screen bg-green-100">
    {% block navbar %}
        {% include 'admin/admin_navbar.html' %}
    {% endblock %}
    
    <div class="ml-64 flex-1 p-6">
        <div class="bg-white p-4 border-b-2 border-green-700 shadow-md">
            <h1 class="text-xl font-semibold">Welcome {{current_user.username}}</h1>
        </div>
        
        <h2 class="text-2xl font-bold mt-6">Breed List</h2>
        
        {% if breeds %}
            <div class="overflow-x-auto bg-white p-6 rounded-lg shadow-md mt-4">
                <table class="w-full border-collapse border border-gray-300">
                    <thead>
                        <tr class="bg-green-700 text-white">
                            <th class="p-3 border">Breed Name</th>
                            <th class="p-3 border">Category</th>
                            <th class="p-3 border">Purpose</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for breed in breeds %}
                        <tr class="border">
                            <td class="p-3 border">
                                <a href="{{ url_for('main.breed_page', breed_id=breed.breed_id) }}" class="text-black hover:text-green-700">{{ breed.breed_name }}</a>
                            </td>
                            <td class="p-3 border">{{ breed.breed_category }}</td>
                            <td class="p-3 border">{{ breed.breed_purpose }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% else %}
            <p class="text-center text-lg text-gray-600 mt-4">No breeds found.</p>
        {% endif %}
        
        <button onclick="location.href='/add_breed'" class="mt-4 bg-green-600 hover:bg-green-700 text-white font-semibold py-2 px-4 rounded shadow">
            Add Breed
        </button>
    </div>
</body>
</html>
